---
import '@/styles/globals.css'
import Layout from '../layouts/Layout.astro'
import ProjectCard from '../components/ProjectCard.astro'
import { PROJECTS, EXPERIENCE } from '@/lib/constants'
import { Image } from 'astro:assets'
// import { Scene } from '@/components/scene/scene'
// import bggg from '@/assets/bg.svg'
import ExperienceCard from '@/components/ExperienceCard.astro'
import Footer from '@/components/Footer.astro'
---

<Layout title='Simonelli UI'>
  <main class='overflow-x-clip'>
    <!-- hero -->
    <section
      class='min-h-screen flex flex-col justify-start lg:justify-center relative bg-foreground text-background'
    >
      <div
        class='max-w-screen-lg w-full px-8 lg:px-0 mt-32 lg:mt-0 mx-auto space-y-16 transition-all duration-300'
      >
        <div class='space-y-8 max-w-[600px]'>
          <div class='space-y-2'>
            <p class='font-light uppercase text-xl md:text-2xl tracking-widest'>
              SOFTWARE ENGINEER
            </p>
            <p class='text-5xl md:text-7xl font-bold'>
              Hi, I'm  
              <span class="text-transparent bg-clip-text bg-gradient-to-br from-emerald-500 to-green-400">
                Nick Simonelli
                </span>
            </p>
          </div>

          <div>
            <p class='text-2xl'>
              Minneapolis based frontend developer with a passion for creativity
              and problem solving.
            </p>
          </div>
        </div>
      </div>

      <!-- <div class='absolute w-full h-full'>
        <Image class='object-cover w-full h-full' src={bggg} alt='grain' />
      </div> -->

      <!-- <div
        class='absolute w-full lg:w-1/2 lg:translate-y-1/2 lg:right-0 lg:translate-x-0 lg:bottom-1/2 translate-y-[15%] translate-x-1/2 right-1/2 xl:translate-y-1/2 bottom-0 xl:bottom-1/2 h-[600px] max-w-screen-sm md:max-w-screen-md lg:max-w-screen-lg z-10'
      >
        <Scene client:load />
      </div> -->
    </section>

    <!-- Calabrio / Thingbits / Lost Yeti -->
    <div class='relative'>
      <div
        class='absolute origin-top-left left-0 top-0 w-[120%] rotate-[-5deg] bg-background h-[225px]'
      >
      </div>

      <div class='container py-16 space-y-16 relative' id='work'>
        <div class='md:max-w-screen-md mx-auto lg:max-w-screen-lg'>
          <p class='text-3xl lg:text-5xl font-bold'>
            Work Experience
          </p>
        </div>

        <div
          class='md:max-w-screen-md mx-auto lg:max-w-screen-lg flex md:justify-center items-center gap-8 md:flex-row flex-col transition-all duration-300 flex-wrap'
        >
          {
            EXPERIENCE.map(({ company, jobTitle, description, imagePath }) => (
              <ExperienceCard
                company={company}
                jobTitle={jobTitle}
                description={description}
                imagePath={imagePath}
              />
            ))
          }
        </div>
      </div>
    </div>

    <div class='container py-16 space-y-16' id='projects'>
      <div class='md:max-w-screen-md mx-auto lg:max-w-screen-lg'>
        <p class='text-3xl lg:text-5xl font-bold'>
          Live Projects
        </p>
      </div>
      {
        PROJECTS.map(
          (
            { title, imagePath, altText, body, href, background, techStack },
            index
          ) => (
            <ProjectCard
              title={title}
              href={href}
              background={background}
              imagePath={imagePath}
              altText={altText}
              body={body}
              techStack={techStack}
              isReverse={index % 2 === 1}
            />
          )
        )
      }
    </div>
    <Footer />
  </main>
</Layout>
