---
import '@/styles/globals.css'
import Layout from '../layouts/Layout.astro'
import ProjectCard from '../components/ProjectCard.astro'
import { PROJECTS, EXPERIENCE } from '@/lib/constants'
import { Image } from 'astro:assets'
import { Scene } from '@/components/scene/scene'
import bggg from '@/assets/bg.svg'
import smallWave from '@/assets/wave-9-16.svg'
import bigWave from '@/assets/wave-16-9.svg'
import ExperienceCard from '@/components/ExperienceCard.astro'
---

<Layout title='Simonelli UI'>
  <main>
    <!-- hero -->
    <div class=`min-h-screen bg-black/90 flex flex-col justify-center relative`>
      <div
        class='max-w-screen-lg w-full px-8 lg:px-0 mx-auto text-background space-y-16 transition-all duration-300'
      >
        <div class='space-y-8 max-w-[600px]'>
          <div class='text-4xl md:text-7xl font-bold space-y-2'>
            <p
              class='font-light uppercase text-base md:text-xl tracking-widest'
            >
              SOFTWARE ENGINEER
            </p>
            <p
              class='bg-clip-text text-transparent bg-gradient-to-b from-violet-500 to-blue-400'
            >
              Hi, I'm Nick Simonelli
            </p>
          </div>

          <div>
            <p class='text-lg md:text-2xl'>
              Front End Developer from Minneapolis. I build excellent user
              interfaces and have a passion for solving complex problems.
            </p>
          </div>
        </div>
        <!-- <div class='border-2 border-black space-x-2 font-bold'>
          <a href='#work'>
            <Button variant='ghost'>View my work</Button>
          </a>
          <a href='#projects'>
            <Button variant={'secondary'}>Checkout live projects</Button>
          </a>
          <a href='#contact'>
            <Button variant={'link'}>Get in touch</Button>
          </a>
        </div> -->
      </div>

      <div class='absolute w-full h-full'>
        <Image class='object-cover w-full h-full' src={bggg} alt='grain' />
      </div>
      <div class='absolute w-full h-full'>
        <Image
          class='object-cover w-full h-full lg:hidden'
          src={smallWave}
          alt='mobile background wave'
        />
        <Image
          class='object-cover w-full h-full hidden lg:block'
          src={bigWave}
          alt='desktop background wave'
        />
      </div>

      <div
        class='absolute w-full left-1/2 -translate-x-1/2 bottom-0 h-[400px] max-w-screen-lg'
      >
        <Scene client:load />
      </div>
    </div>

    <!-- Calabrio / Thingbits / Lost Yeti -->
    <div class='container py-16 space-y-16' id='work'>
      <p class='text-3xl font-bold md:text-center'>Work Experience</p>

      <div
        class='flex md:justify-center items-center gap-8 md:flex-row flex-col transition-all duration-300 flex-wrap'
      >
        {
          EXPERIENCE.map(
            ({ company, jobTitle, description, imagePath }, index) => (
              <ExperienceCard
                company={company}
                jobTitle={jobTitle}
                description={description}
                imagePath={imagePath}
              />
            )
          )
        }
      </div>
    </div>

    <div class='container py-16 space-y-16' id='projects'>
      <p class='text-3xl font-bold md:text-center'>Live Projects</p>
      {
        PROJECTS.map(
          (
            { title, imagePath, altText, body, href, background, techStack },
            index
          ) => (
            <ProjectCard
              title={title}
              href={href}
              background={background}
              imagePath={imagePath}
              altText={altText}
              body={body}
              techStack={techStack}
              isReverse={index % 2 === 1}
            />
          )
        )
      }
    </div>
  </main>
  <p class='text-center py-12'>
    Developed by nrsimonelli, {new Date().getFullYear()}
  </p>
</Layout>
